<div class="st-stakeholder" data-ng-controller="StakeholderCtrl">

    <div class="available box">
        <header>
            Available
            <button class="st-button bg"
                    data-ng-click="toggleShowAssigned()">
                {{ showAssigned() ? 'Hide' : 'Show' }} Assigned
            </button>
        </header>
        <div>

            <div data-ng-repeat="(key, unit) in widgetService.unitMap | availableChargeback:showAssigned():widget.stakeholder.id"
                 class="unit"
                 data-ng-style="{color : !!unit.stakeholder ? 'inherit' : ''}">
                {{ unit | unitDisplay }}

                <button class="st-button bg right-arrow"
                        data-ng-click="assign(unit)">
                    <i class="icon-arrow-right icon-large"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="selected box">
        <header>Selected</header>

        <div>
            <div data-ng-repeat="(key, unit) in widgetService.unitMap | selectedChargeback:widget.stakeholder.id"
                 class="unit">

                <button class="st-button bg left-arrow"
                        data-ng-click="unassign(unit)">
                    <i class="icon-arrow-left icon-large"></i>
                </button>

                {{ unit.name }} ({{ unit.service_provider_name }})
            </div>
        </div>
    </div>

    <div class="st-clear-both"></div>

</div>
