<div data-ng-controller="BreakdownNavCtrl">

    <div data-st-left-nav="breakdown.menus"
         data-on-item-click="onMenuItemClick(item)"
         data-is-item-active="isItemActive(item)"></div>
</div>

        <!--
<div class="st-right-side">
    <div>
        <div>Monthly Projection</div>
        <div>$14,355.32</div>
        <div>32% MoM</div>
    </div>
    <div>
        <div>Last Month Spend</div>
        <div>$14,355.32</div>
        <div>32% MoM</div>
    </div>
    <div>
        <div>30 Day Rolling Average</div>
        <div>$14,355.32</div>
        <div>32% MoM</div>
    </div>
    <div>
        <div>7 Day Rolling Average</div>
        <div>$14,355.32</div>
        <div>32% MoM</div>
    </div>
</div>-->

<div data-ng-controller="BreakdownCtrl" class="st-dash-wrapper">
    <div data-st-dash="dashboard"
         data-widget-service="breakdown"
         class="st-dash"
         data-ng-class="{'is-left-expanded' : isLeftExpanded()}"
         data-ng-show="getTitle()">

        <div> <!-- Wrapper Div for recessed area. -->

            <div data-ng-if="getTitle()" class="st-dash-title">
                <div>
                    {{ getTitle() }}
                </div>
            </div>

            <div data-ng-repeat="widgetRow in dash.widgetRows"
                 data-st-widget-row="widgetRow"
                 data-widget-service="widgetService"
                 class="st-widget-row"
                 data-ng-style="{height : widgetRow.height+'px'}">

                <div data-ng-repeat="widgetColumn in widgetRow.widgetColumns"
                     data-st-widget-column="widgetColumn"
                     data-widget-service="widgetService"
                     class="st-widget-column"
                     data-ng-style="{width : widgetColumn.width + '%'}">

                    <div data-ng-if="$index > 0"
                         class="st-widget-column-dragger">
                        <div></div>
                    </div>

                    <div data-ng-repeat="widget in widgetColumn.widgets"
                         data-st-widget="widget"
                         data-widget-service="widgetService"
                         class="st-widget"
                         data-ng-style="{height : widget.height + '%'}">

                        <div data-ng-if="$index > 0"
                             class="st-widget-dragger">
                            <div></div>
                        </div>

                        <div class="st-widget-wrapper">
                            <header data-ng-if="widget.title">
                                <h4>{{widget.title}}</h4>
                            </header>
                            <div>
                                <div data-ng-if="widget.tpl"
                                     data-ng-include="widget.tpl"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>