<div data-ng-controller="ChargebackNavCtrl"
     class="st-chargeback-wrapper">

    <div data-st-left-nav="chargeback.menus"
         data-on-item-click="onMenuItemClick(item)"
         data-is-item-active="isItemActive(item)"></div>
</div>

<div data-ng-controller="ChargebackCtrl"
     class="st-stakeholder-list">

    <div class="wrapper">
        <div st-auto-size="50">

            <div class="st-chargeback-title">
                <span class="title">Chargeback</span>
            </div>

            <div class="st-stakeholder new-stakeholder">

                <header class="st-stakeholder-header">

                    <label for="newStakeholderName">Name</label>
                    <input id="newStakeholderName"
                           data-ng-model="newStakeholder.name"
                           type="text">

                    <label for="newStakeholderTitle">Title</label>
                    <input id="newStakeholderTitle"
                           data-ng-model="newStakeholder.title"
                           type="text">

                    <label for="newStakeholderEmail">Email</label>
                    <input id="newStakeholderEmail"
                           data-ng-model="newStakeholder.email"
                           type="email">

                    <span>
                        <button class="st-button bg"
                                data-ng-class="{'is-disabled' : !canAdd()}"
                                data-ng-disabled="!canAdd()"
                                data-ng-click="add()">

                            <i class="icon-plus"></i>
                            Add Stakeholder
                        </button>
                    </span>

                    <span class="toolbar">
                        <input id="chargeback-search"
                               class="st-search-box is-expanded"
                               data-ng-model="search"
                               type="text">
                        <label class="st-search-icon"
                               for="chargeback-search">
                            <i class="icon-search"></i>
                        </label>
                    </span>
                </header>
            </div>

            <div class="st-stakeholder"
                 data-ng-repeat="stakeholder in chargeback.stakeholders"
                 data-ng-controller="StakeholderCtrl">

                <header class="st-stakeholder-header">

                    <label for="stakeholderName{{ $index }}">Name</label>
                    <input id="stakeholderName{{ $index }}"
                           data-ng-model="stakeholder.name"
                           type="text">

                    <label for="stakeholderTitle{{ $index }}">Title</label>
                    <input id="stakeholderTitle{{ $index }}"
                           data-ng-model="stakeholder.title"
                           type="text">

                    <label for="stakeholderEmail{{ $index }}">Email</label>
                    <input id="stakeholderEmail{{ $index }}"
                           data-ng-model="stakeholder.email"
                           type="email">

                    <span>({{ unitCount() }} Accounts)</span>

                    <span class="toolbar">
                        <button class="st-button bg expander"
                                data-ng-click="toggle()">
                            <i data-ng-class="{true : 'icon-chevron-left', false: 'icon-chevron-down'}[!!isExpanded()]"></i>
                        </button>
                    </span>
                </header>

                <div class="st-stakeholder-assignment"
                     data-ng-class="{'is-collapsed' : !isExpanded()}">

                    <div class="available box">
                        <header>
                            Available
                            <button class="st-button bg"
                                    data-ng-click="toggleShowAssigned()">
                                {{ showAssigned() ? 'Hide' : 'Show' }} Assigned
                            </button>
                        </header>
                        <div>

                            <div data-ng-repeat="(key, unit) in chargeback.unitMap | availableChargeback:showAssigned():stakeholder.id"
                                 class="unit"
                                 data-ng-style="{color : !!unit.stakeholder ? 'inherit' : ''}">
                                {{ unit | unitDisplay }}

                                <button class="st-button bg right-arrow"
                                        data-ng-click="assign(unit)">
                                    <i class="icon-arrow-right icon-large"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="selected box">
                        <header>Selected</header>

                        <div>
                            <div data-ng-repeat="(key, unit) in chargeback.unitMap | selectedChargeback:stakeholder.id"
                                 class="unit">

                                <button class="st-button bg left-arrow"
                                        data-ng-click="unassign(unit)">
                                    <i class="icon-arrow-left icon-large"></i>
                                </button>

                                {{ unit.name }} ({{ unit.service_provider_name }})
                            </div>
                        </div>
                    </div>

                    <div class="st-clear-both"></div>

                </div>
            </div>

        </div>
    </div>

</div>
