<div data-ng-controller="ChargebackNavCtrl"
     class="st-chargeback-wrapper">

    <div data-st-left-nav="chargeback.menus"
         data-on-item-click="onMenuItemClick(item)"
         data-is-item-active="isItemActive(item)"></div>
</div>

<div data-ng-controller="ChargebackCtrl"
     class="st-stakeholder-list">

    <div class="wrapper">
        <div st-auto-size="50">

            <div class="st-chargeback-title">
                <span class="title">Chargeback</span>
            </div>

        </div>
    </div>

</div>
