<header data-ng-controller="NavController"
        class="st-navbar"
        role="banner">

    <div class="st-wrapper">
        <div class="st-navbar-header">
            <!-- Left Menu Button -->
            <button class="for-left"
                    data-ng-if="isAvailable('left')"
                    data-ng-click="expandMenu('left')">
                <i class="icon-expand"></i>
            </button>
            <a class="st-brand" href="/">
                <img src="/img/white-logo.png" width="80"/>
            </a>
            <!-- Main Navigation Button -->
            <button class="for-main"
                    data-ng-if="isAvailable('main')"
                    data-ng-click="expandMenu('main')">
                <i class="icon-ellipsis-vertical"></i>
            </button>
            <!-- Config Menu Button -->
            <button data-ng-if="isAvailable('config')"
                    class="for-config"
                    data-ng-click="expandMenu('config')">
                <i class="icon-cog"></i>
            </button>
        </div>

        <div class="st-right-menu-nav"
             data-ng-class="{'is-expanded' : isExpanded('main')}">
            <nav>
                <!-- TODO: refactor this into template / directive? -->
                <ul>
                    <li data-ng-repeat="item in menu.getMenuItems()"
                        data-ng-class="{'is-active': isActive(item)}">

                        <a data-ng-if="item.state"
                           data-ui-sref="{{item.state}}"
                           data-ng-click="expandMenu(null)">
                            <i data-ng-if="item.iconCls"
                               class="{{item.iconCls}}"></i>
                            {{item.name}}
                        </a>

                        <a data-ng-if="item.href"
                           data-ng-href="{{item.href}}"
                           data-ng-click="expandMenu(null)">
                            <i data-ng-if="item.iconCls"
                               class="{{item.iconCls}}"></i>
                            {{item.name}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <nav class="st-config-menu"
             data-ng-class="{'is-expanded' : isExpanded('config')}">

            <ul>
                <li data-ng-repeat="item in menu.getConfigItems()"
                    data-ng-class="{'is-active': isActive(item)}">

                    <a data-ng-if="item.state"
                       data-ui-sref="{{item.state}}"
                       data-ng-click="expandMenu(null)">
                        <i data-ng-if="item.iconCls"
                           class="{{item.iconCls}}"></i>
                        {{item.name}}
                    </a>

                    <a data-ng-if="item.href"
                       data-ng-href="{{item.href}}"
                       data-ng-click="expandMenu(null)">
                        <i data-ng-if="item.iconCls"
                           class="{{item.iconCls}}"></i>
                        {{item.name}}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>