<header data-ng-controller="NavController"
        class="st-navbar"
        role="banner">

    <div class="wrapper">
        <div class="st-navbar-header">
            <button data-ng-click="menu.expandMenu('left')">
                <i class="icon-expand"></i>
            </button>
            <a class="st-brand" href="/">
                <img src="/img/white-logo.png" width="80"/>
            </a>
            <button data-ng-click="menu.expandMenu('main')">
                <i class="icon-ellipsis-vertical"></i>
            </button>
            <button class="for-config"
                    data-ng-click="menu.expandMenu('config')">
                <i class="icon-cog"></i>
            </button>
        </div>

        <div class="st-right-menu-nav"
             data-ng-class="{'is-expanded' : menu.expandedMenu == 'main'}">
            <nav>
                <ul>
                    <li data-ng-repeat="item in menuItems"
                        data-ng-class="{'is-active': item.state == $state.current.name}">

                        <a data-ui-sref="{{item.state}}"
                           data-ng-click="menu.expandMenu(null)">{{item.name}}</a>
                    </li>
                </ul>
            </nav>
        </div>

        <nav class="st-config-menu"
             data-ng-class="{'is-expanded' : menu.expandedMenu == 'config'}">
            <ul>
                <li>
                    <a data-ui-sref="app.profile"
                       data-ng-click="menu.expandMenu(null)"><i class="icon-cog"></i> Profile</a>
                </li>
                <li>
                    <a data-ui-sref="app.providers"
                       data-ng-click="menu.expandMenu(null)"><i class="icon-list-ul"></i> Providers</a>
                </li>
                <li>
                    <a href="/logout"><i class="icon-signout"></i> Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>