<aside class="st-left-nav">
    <ul>
        <li class="st-nav-title">Providers</li>
        <li>
            <a href="#" class="active">All</a>
        </li>
        <li>
            <a href="#">Amazon</a>
        </li>
    </ul>
</aside>


<div data-ng-controller="AccountManagementController"
     class="st-account-table">

    <section>

        <header>

            <div class="first">
                &nbsp;
            </div>

            <div class="name">
                Name
            </div>

            <div class="external-id">
                External ID
            </div>

            <div class="external-key">
                External Key
            </div>

        </header>

        <ul st-auto-size>
            <li data-ng-repeat="account in accounts"
                data-st-account="account"
                data-master="masterAccount">

                <!--
                <div class="first">
                    <i class="icon-star icon-large"></i>
                </div>

                <div class="name">
                    {{ account.name || '&nbsp;' }}
                </div>

                <div class="external-id">
                    {{ account.id || '&nbsp;' }}
                </div>

                <div class="external-key">
                    {{ account.aws_key || '&nbsp;' }}
                </div>

                <div class="buttons">
                    <button data-ng-click="edit()" title="Edit Account">
                        <i class="icon-edit icon-large"></i>
                    </button>
                    <button data-ng-click="delete()" title="Delete Account">
                        <i class="icon-trash icon-large"></i>
                    </button>
                </div>

                <div class="st-account-body"
                     data-st-account-body>

                    <form name="accountForm"
                          action="/account/update"
                          method="POST">


                    </form>

                </div>-->
            </li>
        </ul>
    </section>

</div>
