<aside class="st-left-nav">
    <ul>
        <li class="st-nav-title">Providers</li>
        <li>
            <a href="#" class="active">All</a>
        </li>
        <li>
            <a href="#">Amazon</a>
        </li>
    </ul>
</aside>


<div data-ng-controller="AccountManagementController"
     class="st-account-table">

    <section>

        <header>

            <div class="first">
                &nbsp;
            </div>

            <div class="name">
                Name
            </div>

            <div class="external-id">
                External ID
            </div>

            <div class="external-key">
                External Key
            </div>

        </header>

        <ul st-auto-size>
            <li data-ng-repeat="account in accounts"
                data-st-account="account"
                data-master="masterAccount">

            </li>
        </ul>
    </section>

</div>
