<div class="st-dash"
     data-ng-class="{'is-left-expanded' : isLeftExpanded()}"
     data-ng-show="getTitle()">

    <div st-auto-size="50"> <!-- Wrapper Div for recessed area. -->

        <div data-ng-if="getTitle()" class="st-dash-title">
            <div>
                <!--
                <select data-ng-model="widgetService.selectedAccount"
                        data-ng-options="item.name for item in accounts"></select>
                         -->
                <span>{{ getTitle() }}</span>
                <!--
                <button class="st-button brand" data-ng-click="menu.toggle()">
                    <i class="icon-reorder"></i>
                </button>
                <div class="menu-options"
                     data-ng-class="{'is-expanded' : menu.isActive}">

                    blah
                </div>
                -->
            </div>
        </div>

        <div data-ng-repeat="widgetRow in dash.widgetRows"
             data-st-widget-row="widgetRow"
             data-widget-service="widgetService"
             class="st-widget-row"
             data-ng-style="{height : widgetRow.height+'px'}">

            <div data-ng-repeat="widgetColumn in widgetRow.widgetColumns"
                 data-st-widget-column="widgetColumn"
                 data-widget-service="widgetService"
                 class="st-widget-column"
                 data-ng-style="{width : widgetColumn.width + '%'}">

                <div data-ng-if="$index > 0"
                     class="st-widget-column-dragger">
                    <div></div>
                </div>

                <div data-st-widget="widget"
                     data-ng-repeat="widget in widgetColumn.widgets"
                     data-widget-service="widgetService"
                     class="st-widget"
                     data-ng-style="{height : widget.height + '%'}">

                    <div data-ng-if="$index > 0"
                         class="st-widget-dragger">
                        <div></div>
                    </div>

                    <div class="st-widget-wrapper">
                        <header data-ng-if="!!widget.title">
                            <h4>{{ title() }}</h4>
                        </header>
                        <div>
                            <div data-ng-if="widget.tpl"
                                 data-ng-include="widget.tpl"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="st-clear-both"></div>
    </div>

</div>
