.st-alert-table {
    .st-wrapper;

    margin-top : 20px;

    th, td {
        border  : 1px solid @st-bg-very-dark;
        padding : 5px;
    }
}

.st-alert-list {
    .st-wrapper;

    margin-top : 20px;

    border     : 1px solid @st-bg-very-dark;
    @headerHeight : 31px;
    @boxPadding : 10px;

    .box {
        height : 100%;
        float  : left;
        clear : both;
        border-top : 1px solid @st-bg-very-dark;
        margin-top: @boxPadding;
        & > header {
            float         : left;
            width         : 100%;
            padding       : (@boxPadding / 2);
            border-bottom : 1px solid @st-bg-very-dark;
            .gradient(@st-bg-main, @st-bg-dark);
        }
        & > div {
            height  : 100%;
            width   : 100%;
            padding : (@headerHeight + @boxPadding) @boxPadding @boxPadding @boxPadding;
        }

        &.outer-box {
            & > div {
                padding : (@headerHeight) 0 0 0;
            }
        }
    }

    .box .main-header {
        background : @st-brand-main;
        color      : @st-brand-text-strong;
        i {
            color   : @st-brand-text;
            padding : 5px;
            cursor  : pointer;
            .transition(0.1s linear opacity);
            .opacity(0);
            &:hover {
                color : @st-brand-text-strong;
            }
        }
        &:hover i {
            .opacity(100);
        }
    }

    .field {
        margin-top : 10px;
    }

    .left-side {
        width : 100%;
        .what, .when {
            width : 100%;
        }

        .st-checkbox {
            float : left;
            clear : left;
            &.is-active {
                color : @st-bg-text-strong;
            }
            label {
                width : auto;
            }
        }

        .filter-wrapper {
            float       : left;
            margin-left : 5px;

            &.is-active {
                color : @st-bg-text-strong;
            }
        }

        .category-type {
            float   : left;
            clear   : both;
            display : inline-block;
        }

        .provider-options {
            float  : left;
            clear  : left;
            margin : 0 5px 0 23px;

            &.is-active {
                color : @st-bg-text-strong;
            }
        }

        .account-select {
            float      : left;
            width      : 100%;
            margin-top : 3px;
        }

        label {
            font-weight : 100;
            width       : 130px;
        }
    }

    .right-side {
        width      : 100%;
        background : @st-bg-dark;

        .notification-option {

            font-weight : normal !important;
            font-size   : 14px;

            + .notification-option {
                margin-top : 5px;
            }
            span {
            }
            &.is-active {
                color : @st-bg-text-strong;
            }
        }
    }

    @media (min-width : @screen-md) {
        height     : 300px;
        .box {
            clear : none;
            margin-top: 0;
            border-top: none;
            + .box {
                border-top  : none;
                border-left : 1px solid @st-bg-very-dark;
            }
        }
        .left-side {
            width : 66%;
            .what, .when {
                width : 50%;
            }
        }
        .right-side {
            width : 34%;
        }
    }
}

.st-alert-wrapper {
    padding : 20px;
}

.st-alert {

    border : 1px solid @st-bg-very-dark;
    & + .st-alert {
        margin-top: 20px;
    }

    .box,
    & > header {
        padding : 10px;
    }

    & > header {
        background: @st-brand-main;
        color : @st-brand-text-strong;
    }

    & > section {
        border-top: 1px solid @st-bg-very-dark;
    }

    .box {
        display: inline-block;
        width : 33.33%;
        float : left;
        position: relative;
        padding-top : 40px;
        +.box {
            border-left: 1px solid @st-bg-very-dark;
        }

        header {
            position: absolute;
            width: 100%;
            height: 30px;
            padding: 5px;
            top : 0;
            left : 0;
            .gradient(@st-bg-main, @st-bg-dark);
            border-bottom: 1px solid @st-bg-very-dark;
        }
    }

    .field {
        width : 100%;
        padding-left : 130px;
        position: relative;
        margin-top: 10px;
        label {
            position: absolute;
            left : 0;
            top : 0;
        }
        select {
            width : 100%;
        }
        .classification-radio {
            display: inline-block;
            width : 33%;
        }
    }

    .filter {

    }
}
