.st-alert-table {
    .st-wrapper;

    margin-top : 20px;

    th, td {
        border  : 1px solid @st-bg-very-dark;
        padding : 5px;
    }
}

.st-alert-wrapper {
    padding : 16px;
    background: @st-bg-dark;
    min-height: 100%;
}

.st-alert {

    .individual-box;
    border : 1px solid @st-bg-very-dark;
    width: 100%;

    margin-top: 12px;

    &.is-expanded {
        > section {

            border-top : 1px solid @st-bg-very-dark;
            display    : table;
            max-height : 300px;
        }

        > header .name:hover .icons {
            display : inline-block;
        }
    }

    header {
        padding : 5px 10px;
    }

    & > header {
        background: @st-brand-main;
        color : @st-brand-text-strong;

        .name, .description {
            display: inline-block;
            height: 100%;
        }
        .name {
            width : 200px;
            > button {
                border : none;
                background: none;
                color : @st-brand-text-strong;
                outline : none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .icons {
                display: none;
            }
            &:hover .icons {
            }
        }

        .icons {
            float : right;
            button {
                color : @st-brand-text;
                margin-left: 10px;
                &:hover {
                    color : @st-brand-text-strong;
                }
            }
        }
    }

    & > section {
        width: 100%;
        max-height: 0;
        display: block;
        overflow: hidden;


    }

    .field {
        width : 100%;
        padding-left : 130px;
        position: relative;
        margin-top: 10px;
        label {
            position: absolute;
            left : 0;
            top : 0;
        }
        input[type="checkbox"] + label {
            position : static;
        }
        select,
        input:not([type="checkbox"]) {
            width : 100%;
        }
        .classification-radio {
            display: inline-block;
            width : 33%;
        }

        &.dual,
        &.tripple {
            div {
                float : left;
                +div {
                    padding-left: 10px;
                }
            }
        }

        &.dual div {
            width : 50%;
        }

        &.tripple div {
            width : 33.33%;
        }
    }

    .condition .field {
    }
}

.box {
    padding    : 40px 10px 10px 10px;
    display    : table-cell;
    width      : 33%;
    position   : relative;
    background : @st-bg-main;
    + .box {
        border-left : 1px solid @st-bg-very-dark;
    }

    header {
        position      : absolute;
        width         : 100%;
        height        : 30px;
        top           : 0;
        left          : 0;
        padding       : 5px 10px;
        .gradient(@st-bg-main, @st-bg-dark);
        border-bottom : 1px solid @st-bg-very-dark;
    }
}
