/**
 * MISC
 */

html {
    height           : 100%;
    background-color : @st-bg-main;
}

body {
    height           : 100%;
    background-color : @st-bg-main;
    overflow-x       : hidden;
    color            : @st-bg-text;
}

.st-app-wrapper {
    position: relative;
}

.site-wrapper {
    min-height : 100%;
    position   : relative;
    padding-bottom: 50px;

    .site-content {
    }

    footer {
        position : absolute;
        bottom   : 0px;
        left     : 0px;
        width    : 100%;
        height : 50px;
        line-height: 1.5;
        background: @st-bg-dark;
        border-top: 1px solid @st-bg-very-dark;
        .box-shadow(3px -3px 3px rgba(0, 0, 0, 0.3));
        //.gradient(@st-bg-dark, @st-bg-main);
        & > div {
            padding    : 14px;
            text-align: center;
        }

        .left, .right {

        }
        .left {
            float : left;
            display: block;
        }

        .right {
            float : right;
            display: block;
        }
    }
}

.st-wrapper {
    height    : 100%;
    max-width : @screen-lg;
    margin    : 0 auto;
}

.main-text {
    color : @st-brand-main;
}

.dark-text {
    color : @st-brand-dark;
}

.muted-text {
    color : @st-brand-light;
}

.white-text {
    color : #fff;
}

.st-btn {
    background-color : @st-brand-main;
    color            : @st-brand-light;
    //border-color     : @st-brand-dark;
    border           : none;
    .st-emboss;
    &:hover,
    &:active {
        color            : @st-brand-text-strong;
        background-color : @st-brand-main;
        border-color     : @st-brand-dark;
    }
}
/*
::-webkit-scrollbar {
    width            : 12px;
    .border-radius(10px);
    background-color : @st-bg-dark;
    border           : 1px solid @st-bg-dark;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    .box-shadow(inset 0 0 3px rgba(0, 0, 0, 0.5));

}

::-webkit-scrollbar-thumb {
    background : @st-brand-dark;
    .border-radius(10px);
}
*/
