/**
 * DASHBOARD
 */
.st-dash {
  margin      : 15px;
  margin-left : 215px;
  position    : relative;
  padding     : 0;
  & > div {
    width            : 100%;
    height           : 100%;
    padding          : 4px;
    .border-radius(5px);
    background-color : @st-bg-dark;
    .st-deboss;
  }
}

.st-widget-row {
  padding : 0;
}

.st-widget-column {
  padding  : 0;
  height   : 100%;
  position : relative;
  float    : left;
  & > .st-widget-column-dragger {
    position : absolute;
    height   : 100%;
    width    : 8px;
    left     : -4px;
    top      : 0;
    padding  : 6px 0;
    z-index  : 1000;
    &:hover > div {
      /*cursor     : ew-resize;
      visibility : visible;*/
    }
    & > div {
      height           : 100%;
      background-color : @st-brand-light;
      width            : 100%;
      visibility       : hidden;
      .box-shadow(1px 0 4px @st-bg-dark inset,
                    -1px 0 4px @st-bg-dark inset;);
    }
  }
}

.st-widget {
  @bg : @st-bg-main;
  width    : 100%;
  padding  : 6px;
  position : relative;
  float    : left;
  & > .st-widget-wrapper {
    color            : @st-bg-text;
    background-color : @bg;
    width            : 100%;
    height           : 100%;
    border           : none;
    .st-emboss;
    .border-radius(3px);
    .panel-heading {
      & > h4 {
        .unselectable;
      }
      color        : @st-bg-text-strong;
      .gradient(@bg, @st-bg-dark);
      border-color : #000;
      border-top   : 1px solid rgba(255, 255, 255, 0.3);
      .box-shadow(0 1px 0 rgba(255, 255, 255, 0.3));
    }
    .panel-body {
    }
  }
  & > .st-widget-dragger {
    position : absolute;
    width    : 100%;
    height   : 8px;
    left     : 0;
    top      : -4px;
    padding  : 0 6px;
    z-index  : 1000;
    &:hover > div {
      /*visibility : visible;
      cursor     : ns-resize;*/
    }
    & > div {
      height           : 100%;
      width            : 100%;
      background-color : @st-brand-light;
      visibility       : hidden;
      .box-shadow(0  1px 4px @st-bg-dark inset,
                     0 -1px 4px @st-bg-dark inset;);
    }
  }
}

.st-widget-btn {
  float      : right;
  font-size  : 14px;
  margin-top : -2px;
  &:first-of-type {
    margin-right : -7px;
  }
  background : none;
  color      : @st-bg-text;
  .box-shadow(none);
  &:hover {
    color : @st-bg-text-strong;
  }
  &:active {
    background : none;
  }
}
