.st-clear-both {
    clear : both;
}

.st-switch {
    display: inline-block;
    @height : 18px;
    width : (@height * 2);
    height : @height;
    position: relative;
    background: @st-bg-dark;
    border : 1px solid @st-bg-very-dark;
    margin-bottom: -3px;
    .box-shadow(1px 1px 1px rgba(0, 0, 0, 0.3) inset);

    div {
        position: absolute;
        .transition(0.1s linear left);
        width: (@height - 2);
        .box-shadow(-1px -1px 1px rgba(0, 0, 0, 0.3) inset);
        height: (@height - 2);
        border-left : 1px solid @st-bg-very-dark;
        border-right : 1px solid @st-bg-very-dark;
        background: @st-bg-main;
        left : 0px;
        top : 0px;
    }

    &.is-on div {
        background: @st-brand-main;
        left : @height;
    }
}

.st-checkbox {
    display: inline-block;
    label {
        margin : 0 5px;
        font-weight: 100;
    }
    i {
        display: inline-block;
        width : 18px;
    }
}

.st-button {
    &.brand {
        background: @st-brand-main;
        color : @st-brand-text;
        &:hover {
            color : @st-brand-text-strong;
            background: @st-brand-dark;
        }
    }
    &.bg {
        color : @st-bg-text;
        &:hover {
            color : @st-bg-text-strong;
        }
    }
    outline: none;
    border-radius: 3px;
    background: none;
    border : none;
    //width : 27px;
    //height : 26px;
    padding : 0;
    i + span, span + i {
        margin-left: 5px;
    }
}

.st-floating-button {
    background: @st-bg-main;
    border : 1px solid @st-bg-very-dark;
    padding : 5px;
    color : @st-bg-text;
    &:hover {
        color : @st-bg-text-strong;
    }
}

.fl-r {
    float :right;
}

.fl-l {
    float: left;
}

.st-search-box {
    padding : 5px;
    border : 1px solid @st-bg-light;
    width : 50px;
    &:after {
        content : '\uf002';
    }
    &:focus {
        width : 200px;
        font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    &.icon-search {

    }
}
