/**
 * MAIN NAV
 */
.st-navbar {
  @main : @st-brand-main;
  @dark : @st-brand-dark;
  @muted : @st-brand-text;
  background-color : @main;
  border-color     : @dark;
  text-shadow      : 0 -1px 0 rgba(0, 0, 0, .15);
  .box-shadow(0 1px 0px rgba(255, 255, 255, 0.3));
  .navbar-collapse {
    border-color : @dark;
  }
  .brand img {
    margin : 6px;
  }
  .navbar-nav {
    & > li > a {
      color : @muted;
      &:hover {
        color : @st-brand-text-strong;
      }
    }
    & > .active > a,
    & > .active > a:hover {
      color            : @st-brand-text-strong;
      background-color : @dark;
    }
  }

  .navbar-toggle {
    border-color : @main;
    &:hover {
      border-color     : @dark;
      background-color : @dark;
    }
  }
}

/**
 * LEFT SIDE NAV
 */
.st-left-nav {
  overflow         : hidden;
  display          : inline-block;
  float            : left;
  width            : 200px;
  margin-left      : 20px;
  margin-top       : 20px;
  &> ul {
    border : 1px solid @st-bg-light;
    list-style : none;
    padding    : 0;
    margin-bottom : 20px;
    .border-radius(3px);
    & > li {
      overflow: hidden;
      & + li {
        border-top: 1px solid @st-bg-light;
        .box-shadow(0 -1px 1px rgba(0, 0, 0, 0.3) inset;);
      }
      & > a {
        display     : block;
        padding     : 10px;
        margin-top  : 1px;
        color       : @st-bg-text;
        &.active, &:hover {
          text-decoration  : none;
          color            : @st-bg-text-strong;
        }
      }
    }
  }
  li {
    &> ul {
      list-style : none;
      padding    : 0;
      & > li > a {
        display    : block;
        padding    : 7px;
        padding-left : 20px;
        margin-top : 1px;
        color      : @st-bg-text;
        &:hover {
          color: @st-bg-text-strong;
        }
      }
      max-height: 0px;
    }
    &.active > ul {
      max-height: 300px;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.st-nav-title {
  margin-top       : -1px;
  background-color : @st-brand-main;
  color            : @st-brand-text-strong;
  .border-top-radius(3px);
  .box-shadow(0 1px 0px rgba(255, 255, 255, 0.3) inset,
              0 -1px 5px rgba(0, 0, 0, 0.3) inset;);
  padding          : 10px;
  text-align       : center;
  font-size        : 15px;
}

.st-left-toggle {
  float        : left;
  margin-left  : 15px;
  margin-right : 0;
}
