/**
 * VARS
@st-brand-main : #6E0500;
@st-brand-dark: #3B0300;
@st-brand-light : #B80900;
 */
@st-brand-main : #0A316E;
@st-brand-dark: #051A3B;
@st-brand-light : #1052B8;
@st-brand-text-strong : #fff;
@st-brand-text : rgba(255, 255, 255, 0.5);

@st-bg-main : #2B2B2B;
@st-bg-dark : #252525;
@st-bg-light : #3F3F3F;
@st-bg-text-strong : #fff;
@st-bg-text : #666666;

@st-shadow : #000;
@st-highlight : #999;

@screen-sm : 768px;
@screen-md : 992px;
@screen-lg : 1200px;

// This rule is used to inject less variables
// into javascript using the Utils service
#lessVars {

  .brandMain       {color : @st-brand-main;}
  .brandDark       {color : @st-brand-dark;}
  .brandLight      {color : @st-brand-light}
  .brandText       {color : @st-brand-text;}
  .brandTextStrong {color : @st-brand-text-strong;}

  .bgMain       {color : @st-bg-main;}
  .bgDark       {color : @st-bg-dark;}
  .bgLight      {color : @st-bg-light;}
  .bgText       {color : @st-bg-text;}
  .bgTextStrong {color : @st-bg-text-strong;}

  .screenSm {width : @screen-sm;}
  .screenMd {width : @screen-md;}
  .screenLg {width : @screen-lg;}
}