.st-widget-kpi {

    position : relative;

    * {
        text-align : center;
    }
    header {
        font-size : 15px;
        color     : @st-bg-text;
    }

    .the-kpi {
        font-size : 24px;
        color : @st-bg-text-strong;
    }

    .the-tooltip {
        position : absolute;
        left : 50%;
        white-space: nowrap;
        background : @st-bg-dark;
        border : 1px solid @st-brand-light;
        .border-radius(3px);
        z-index : 1000;
        padding : 10px;
    }

    &:hover {
        .the-tooltip {

        }
    }

    .the-value {
        color     : @st-bg-text-strong;
        font-size : 16px;
    }
}

.st-widget-top-spend {
    padding : 5px;
    table {
        color : @st-bg-text-strong;
        border-collapse: collapse;
        width  : 100%;
        +table {
            margin-top: 15px;
        }
        td, th {
            padding : 6px 24px;
            border : 1px solid @st-bg-light;
        }
        td+td,
        th+th {
            width: 25%;
        }
        th {
            .gradient(@st-bg-main, @st-bg-dark);
        }
    }
}