.st-widget-kpi {
    * {
        text-align : center;
    }
    header {
        font-size : 15px;
        color     : @st-bg-text-strong;
    }

    .the-value {
        color : @st-bg-text-strong;
        font-size: 16px;
    }
}

.st-widget-top-spend {
    table {
        width: 100%;
    }
}