@import "/bower_components/bootstrap/less/bootstrap.less";

/**
 * VARS
@st-brand-main : #6E0500;
@st-brand-dark: #3B0300;
@st-brand-light : #B80900;
 */
@st-brand-main : #0A316E;
@st-brand-dark: #051A3B;
@st-brand-light : #1052B8;
@st-brand-text-strong : #fff;
@st-brand-text : rgba(255, 255, 255, 0.5);
@st-bg-main : #2B2B2B;
@st-bg-dark : #252525;
@st-bg-text-strong : #fff;
@st-bg-text : rgba(255, 255, 255, 0.3);

@st-shadow : #000;
@st-highlight : #999;

/**
 * MIXINS
 */
.opacity(@percent) {
  /* found at http://css-tricks.com/snippets/css/cross-browser-opacity/ */
  /* IE 8 */
  -ms-filter     : "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{percent})";
  /* IE 5-7 */
  filter         : alpha(opacity=@percent);
  /* Netscape */
  -moz-opacity   : (@percent / 100);
  /* Safari 1.x */
  -khtml-opacity : (@percent / 100);
  /* Good browsers */
  opacity        : (@percent / 100);
}

.transition(...) {

  -webkit-transition : @arguments;
  -moz-transition    : @arguments;
  -ms-transition     : @arguments;
  -o-transition      : @arguments;
  transition         : @arguments;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius : @radius;
  -moz-border-radius    : @radius;
  -ms-border-radius     : @radius;
  -o-border-radius      : @radius;
  border-radius         : @radius;
}

.st-box-shadow(@a) {
  -webkit-box-shadow : @arguments;
  -moz-box-shadow    : @arguments;
  box-shadow         : @arguments;
}

.st-pillow-emboss {
  .st-box-shadow(0  1px 0px rgba(255, 255, 255, 0.3) inset,
                 0 -1px 1px @st-shadow inset,
                 0 -1px 1px @st-shadow,
                 0  1px 0px rgba(255, 255, 255, 0.3););
}

.st-emboss {
  .st-box-shadow(0 1px 0px rgba(255, 255, 255, 0.3) inset,
                 0 1px 1px @st-shadow;);
}

.st-deboss {
  .st-box-shadow(0 1px 0px rgba(255, 255, 255, 0.3),
                 0 1px 1px @st-shadow inset;);
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color : @startColor;
  background       : -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background       : -webkit-linear-gradient(top, @startColor, @endColor);
  background       : -moz-linear-gradient(top, @startColor, @endColor);
  background       : -ms-linear-gradient(top, @startColor, @endColor);
  background       : -o-linear-gradient(top, @startColor, @endColor);
}

.st-header-gradient {
  .gradient(#fff, #ddd);
}

/**
 * MISC
 */

html {
  height           : 100%;
  background-color : @st-bg-main;
}

body {
  padding-top      : 50px;
  height           : 100%;
  background-color : @st-bg-main;
  color            : @st-bg-text;
}

.main-text {
  color : @st-brand-main;
}

.dark-text {
  color : @st-brand-dark;
}

.muted-text {
  color : @st-brand-light;
}

.white-text {
  color : #fff;
}

/**
 * MAIN NAV
 */
.st-navbar {
  @main : @st-brand-main;
  @dark : @st-brand-dark;
  @muted : @st-brand-text;
  background-color : @main;
  border-color     : @dark;
  text-shadow      : 0 -1px 0 rgba(0, 0, 0, .15);
  .box-shadow(0 1px 5px @st-shadow);
  .navbar-collapse {
    border-color : @dark;
  }
  .brand img {
    margin : 6px;
  }
  .navbar-nav {
    & > li > a {
      color : @muted;
      &:hover {
        color : @st-brand-text-strong;
      }
    }
    & > .active > a,
    & > .active > a:hover {
      color            : @st-brand-text-strong;
      background-color : @dark;
    }
  }

  .navbar-toggle {
    border-color : @main;
    &:hover {
      border-color     : @dark;
      background-color : @dark;
    }
  }
}

/**
 * TRANSITIONS / ANIMATIONS
 */

.expandDown.ng-hide-add,
.expandDown.ng-hide-remove {
  .transition(0.5s linear all);
  transform-origin : top;
  overflow         : hidden;
  display          : block !important;
}

.expandDown.ng-hide-add.ng-hide-add-active,
.expandDown.ng-hide-remove {
  max-height : 0px;
}

.expandDown.ng-hide-remove.ng-hide-remove-active,
.expandDown.ng-hide-add {
  max-height : 250px;
}

.animate-fade.ng-enter,
.animate-fade.ng-leave {
  .transition(500ms linear all);
}

.animate-fade.ng-enter.ng-enter-active,
.animate-fade.ng-leave {
  .opacity(100);
}

.animate-fade.ng-leave.ng-leave-active,
.animate-fade.ng-enter {
  .opacity(0);
}

/**
 * ACCOUNT LIST
 */
.st-account-header {
  padding : 20px 5px 10px 10px;
  & > div {
    font-weight : bold;
  }
  color   : @st-bg-text-strong;
  .spacer {
    width : 19px;
  }
}

.st-account {
  @bg              : @st-bg-dark;
  .border-radius(8px);
  .st-emboss;
  padding          : 5px;
  overflow         : hidden;
  color            : @st-bg-text-strong;
  background-color : @bg;
  &+.st-account {
    margin-top : 5px;
  }
  &.is-master {
    .st-master-icon {
      color : @st-brand-light;
    }
  }
  &.is-expanded {
    .st-account-body {
      .transition(0.25s linear all);
      max-height : 430px;
      .opacity(100);
    }
  }
  .spacer {
    width : 14px;
  }
  .column {
    margin-top : 5px;
  }
  .st-master-icon {
    margin-left : 5px;
    color       : @bg;
  }
  .st-account-edit-btn {
    .st-btn;
    &:after {
      content : 'Edit';
    }
  }

  .st-account-delete-btn {
    .st-btn;
    &:after {
      content : 'Delete';
    }
  }
  .st-account-body {
    .transition(0.25s linear all);
    max-height : 0;
    .opacity(0);
    overflow   : hidden;
    .form-group:last-of-type {
      margin-bottom : 0px;
    }
    .form-group:first-of-type {
      margin-top : 15px;
    }
  }
}

.st-btn {
  background-color : @st-brand-main;
  color            : @st-brand-light;
  //border-color     : @st-brand-dark;
  border           : none;
  .st-emboss;
  &:hover,
  &:active {
    color            : @st-brand-text-strong;
    background-color : @st-brand-main;
    border-color     : @st-brand-dark;
  }
}

/**
 * LEFT SIDE NAV
 */
.st-left-nav {
  overflow         : hidden;
  display          : inline-block;
  float            : left;
  height           : 100%;
  width            : 200px;
  background-color : @st-bg-dark;
  .box-shadow(inset -1px 0px 5px @st-shadow);
  ul {
    list-style : none;
    padding    : 0;
    margin     : 0;
    margin-top : 10px;
    & > li {
      & > a {
        display     : block;
        padding     : 10px;
        margin-left : 20px;
        margin-top  : 5px;
        .border-left-radius(5px);
        .box-shadow(0 1px 5px @st-shadow);
        .transition(all 0.05s linear);
        color       : @st-bg-text;
        &.active, &:hover {
          background-color : @st-bg-main;
          margin-left      : 10px;
          text-decoration  : none;
          color            : @st-bg-text-strong;
          margin-left      : 10px;
        }
      }
    }
  }
}

.st-left-toggle {
  float        : left;
  margin-left  : 15px;
  margin-right : 0;
}

/**
 * DASHBOARD
 */
.st-dash {
  margin      : 15px;
  margin-left : 215px;
  position    : relative;
  padding     : 0;
  & > div {
    width            : 100%;
    height           : 100%;
    padding          : 4px;
    .border-radius(5px);
    background-color : @st-bg-dark;
    .st-deboss;
  }
  .st-widget-row {
    padding : 0;
  }
  .st-widget-column {
    padding : 0;
    height  : 100%;
  }
  .st-widget {
    @bg : @st-bg-main;
    width   : 100%;
    padding : 6px;
    & > div {
      color : @st-bg-text;
      background-color : @bg;
      width  : 100%;
      height : 100%;
      border : none;
      .st-emboss;
      .border-radius(3px);
      .panel-heading {
        color : @st-bg-text-strong;
        .gradient(@bg, @st-bg-dark);
        border-color: #000;
        border-top : 1px solid rgba(255, 255, 255, 0.3);
        .st-box-shadow(0 1px 0 rgba(255, 255, 255, 0.3););
      }
      .panel-body {
      }
    }
  }
}
