<li class="st-account"
    data-ng-class="{'is-expanded' : isModifying(), 'is-master' : master.account_id == account.id}">

    <div class="st-account-row">

        <div class="first">
            <i class="icon-star icon-large"></i>
        </div>

        <div class="name">
            {{ account.name || '&nbsp;' }}
        </div>

        <div class="external-id">
            {{ account.id || '&nbsp;' }}
        </div>

        <div class="external-key">
            {{ account.aws_key || '&nbsp;' }}
        </div>

        <div class="buttons">
            <button data-ng-click="edit()" title="Edit Account">
                <i class="icon-edit icon-large"></i>
            </button>
            <button data-ng-click="delete()" title="Delete Account">
                <i class="icon-trash icon-large"></i>
            </button>
        </div>
    </div>

    <div class="st-account-body"
         data-st-account-body>

        <form name="accountForm"
              action="/account/update"
              method="POST">

            <div>
                <label for="name{{$index}}">Name</label>

                <input id="name{{$index}}"
                       name="name"
                       required
                       data-ng-model="account.name"
                       maxlength="50"
                       type="text">
            </div>

            <div>
                <label for="provider{{$index}}">Provider</label>

                <select id="provider{{$index}}"
                        name="provider_id"
                        class="form-control input-sm"
                        required
                        data-ng-options="account.provider_id as provider.id for provider in Provider.all"></select>
            </div>

            <div>
                <label for="id{{$index}}">External ID</label>

                <input id="id{{$index}}"
                       name="id"
                       data-ng-model="account.id"
                       type="text"
                       required
                       placeholder="External ID">
            </div>

            <div>
                <label for="external_key{{$index}}">External Key</label>

                <input id="external_key{{$index}}"
                       name="aws_key"
                       data-ng-model="account.aws_key"
                       pattern=".{}"
                       required
                       data-ng-minlength="20"
                       maxlength="20"
                       type="text">
            </div>

            <div>
                <label for="secret_key{{$index}}">Seceret Key</label>

                <input id="secret_key{{$index}}"
                       name="secret_key"
                       data-ng-model="account.secret_key"
                       type="password"
                       pattern=".{40}"
                       required
                       data-ng-minlength="40"
                       maxlength="40">
            </div>

            <div>
                <input id=master{{$index}}
                       name="is_master"
                       data-ng-model="isMaster"
                       data-ng-checked="master.account_id == account.id"
                       data-ng-click="setMaster(isMaster)"
                       type="checkbox">

                <label for="master{{$index}}">Master Account</label>
            </div>

            <div data-ng-show="master.account_id == account.id">
                <label for="billing_bucket{{$index}}">Billing Bucket</label>

                <input id="billing_bucket{{$index}}"
                       name="billing_bucket"
                       data-ng-model="master.billing_bucket"
                       type="text">
            </div>
        </form>

        <div class="buttons">
            <button data-ng-click="submit()" title="Save">
                <i class="icon-save icon-large"></i>
            </button>
            <button data-ng-click="cancel()" title="Cancel">
                <i class="icon-remove icon-large"></i>
            </button>
        </div>
    </div>

</li>